{{#if items.length}}
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                    <th scope="row">{{this.name}}</th>
                    <td>{{this.price}}</td>
                    <form method="post">
                        <td> <input type="text" name="amount" class="form-control" value="{{this.amount}}"> </td> 
                        <td> {{itemsPrice}} $ </td>
                        <td>
                            <input type="hidden" name="cartId" value="{{this._id}}">
                            <input type="submit" class="btn btn-success" value="Save" formaction="/cart/save">
                            <a class="btn btn-primary" href="/verify-order?order={{this._id}}"> Order </a>
                            <input type="submit" class="btn btn-danger" value="Delete" formaction="/cart/delete">
                        </td>
                    </form>

                </tr>
            {{/each}}
        </tbody>
    </table>
    <form method="POST">
        <input type="submit" class="btn btn-danger float-right m-2" value="Delete All" formaction="/cart/deleteAll">
    </form>

{{else}}
    <p class="alert alert-danger mt-3">
        There is no Items
    </p>

{{/if}}


{{#if validationErrors}}
    <p class="alert alert-danger mt-2">
        {{validationErrors.msg}}
    </p>
{{/if}}





