<form action="/" method="get">
    <div class="row mt-3">
        <div class="col col-md-10">
            <select name="category" class="form-control">
                <option value="all">All</option>
                <option value="clothes">Clothes</option>
                <option value="phones">Phones</option>
                <option value="computers">Computers</option>
            </select>
        </div>
        <div class="col col-md-2">
            <input type="submit" class="btn btn-primary" value="Filter">
        </div>
    </div>
</form>
{{#if validationErrors}}
    <p class="alert alert-danger mt-2">
        {{validationErrors.msg}}
    </p>
{{/if}}

{{#if products.length }}
    <div class="row mt-3">
        {{#each products}}
            <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card mb-3" style="width: 100%;">
                    <img src="{{this.image}}" class="card-img-top" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/product/{{this._id}}"> {{this.name}} </a>
                            <p>Price: {{this.price}} $</p>
                        </h5>
                        <form action="/cart" method="POST">
                            <input type="number" name="amount" class="form-control">
                            <input type="hidden" name="name" value="{{this.name}}">
                            <input type="hidden" name="price" value="{{this.price}}">
                            <input type="hidden" name="productId" value="{{this._id}}">
                            <input type="hidden" name="redirectTo" value="/">
                            <input type="submit" value="Add to cart" class="btn btn-primary mt-3">
                        </form>
                    </div>
            </div>

            </div>
        {{/each}}
    </div>
{{else}}
    <div class="alert alert-danger">
        there is no products
    </div>
{{/if}}

