<table class="table table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                    <th scope="row"> {{this.email}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td> {{this.amount}} </td> 
                    <td> {{itemsPrice}} $ </td>
                    <td> {{this.address}} </td>
                    <td> {{this.status}} </td>
                    <td>
                            {{!-- {{#if (this.status}} --}}
                            <form style="display: inline-block" method="POST" action="/admin/orders">
                                <input type="hidden" name="orderId" value='{{this._id}}'>
                                <input type="hidden" name="status" value="sent">
                                <input type="submit" class="btn btn-primary" value="Send">
                            </form>
                            {{!-- {{/if}} --}}
                            {{!-- {{#if (items[i].status === 'pending' || items[i].status === 'sent')}} --}}
                            <form style="display: inline-block" method="POST" action="/admin/orders">
                                <input type="hidden" name="orderId" value='{{this._id}}'>
                                <input type="hidden" name="status" value="complete">
                                <input type="submit" class="btn btn-success" value="Complete">
                            </form>
                            {{!-- {{/if}} --}}
                        </td>

                </tr>
            {{/each}}
        </tbody>
    </table>