{{#if items.length}}
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
                <tr>
                    <th scope="row"> {{this.name}}</th>
                    <td>{{this.price}}</td>
                    <form method="post">
                        <td> {{this.amount}} </td> 
                        <td> {{itemsPrice}} $ </td>
                        <td> {{this.address}} </td>
                        <td> {{this.status}} </td>
                        <td>
                            <input type="hidden" name="orderId" value="{{this._id}}">
                            <input type="submit" class="btn btn-danger" value="Cancel" formaction="/orders/cancel">
                        </td>
                    </form>

                </tr>
            {{/each}}
        </tbody>
    </table>
    <form method="POST">
        <input type="submit" class="btn btn-danger float-right m-2" value="Cancel All" formaction="/orders/cancelAll">
    </form>
{{else}}
    <p class="alert alert-danger mt-3">
        There is no Items
    </p>

{{/if}}


{{#if validationErrors}}
    <p class="alert alert-danger mt-2">
        {{validationErrors.msg}}
    </p>
{{/if}}





