<div class="container text-center">
    <form action="/orders" method="post">
        <input type="hidden" name="cartId" value="{{cart._id}}">
        <input type="hidden" name="name" value="{{cart.name}}">
        <input type="hidden" name="price" value="{{cart.price}}">
        <input type="hidden" name="amount" value="{{cart.amount}}">
        <input type="hidden" name="productId" value="{{cart.prodcutId}}">
        <input type="hidden" name="userId" value="{{cart.userId}}">
        <input type="text" name="address" placeholder="Enter the Address" class="form-control mt-5">
        <input type="email" class="form-control mt-3" name="email" placeholder="E-mail">
        <input type="submit" value="Verify" class="btn btn-primary mt-3">
    </form>

</div>
